extends ../../layout

block content
    section.container
        h1 Edit Article
          
        include ../forms/article
        block ArticleForm
            
block scripts
//    script(type='text/javascript').
//        alert('hola mundo')