extends ../layout

block content
    section.container
        header
            h1 Magazine Administration
        
        ul
            li
                a(href='/admin/magazine/editorial') Editorial
            li
                a(href='/admin/articles') Articles
            li
                a(href='/admin/magazine/about') About
            li
                a(href='/admin/magazine/contact') Contact Info