extends layout

block content
    div.container
        h1 Administrative Tasks
        
        ul
            li
                a(href='/admin/users') Users
            li
                a(href='/admin/authors') Authors
            li
                a(href='/admin/magazine') Magazine
            li
                a(href='/admin/articles') Articles
            li
                a(href='#') Complete Backup