block SignInForm

    form.form-signin(method="post")
        h2.form-signin-heading Please sign in
        input.form-control(type="text", name="email", placeholder="Email address", autofocus)
        input.form-control(type="password", name="password", placeholder="Password")
        
        
        label.checkbox
            input(type="checkbox", name="rememberme")
            | Remember me
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
        
        small.pull-right Not a member? 
            a(href='/signup') subscribe